<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ==== Document Title ==== -->
    <title>Free</title>
    
    <!-- ==== Document Meta ==== -->
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- ==== Favicon ==== -->
    <link rel="icon" href="favicon.png" type="image/png">

    <!-- ==== Google Font ==== -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700%7CRoboto:300,400,400i,500,700">

    <!-- ==== Plugins Bundle ==== -->
    <link rel="stylesheet" href="css/plugins.min.css">
    
    <!-- ==== Main Stylesheet ==== -->
    <link rel="stylesheet" href="style.css">
    
    <!-- ==== Responsive Stylesheet ==== -->
    <link rel="stylesheet" href="css/responsive-style.css">
    
    <!-- ==== Color Scheme Stylesheet ==== -->
    <link rel="stylesheet" href="css/colors/color-1.css" id="changeColorScheme">
    
    <!-- ==== Custom Stylesheet ==== -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- ==== HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries ==== -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preloader--inner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Wrapper Start -->
    <div id="content" class="wrapper">
        <!-- Header Section Start -->
        <header class="header--section style--1">

            <!-- Header Navbar Start -->
            <div class="header--navbar navbar bg-black" data-trigger="sticky">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#headerNav">
                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!-- Header Navbar Logo Start -->
                        <div class="header--navbar-logo navbar-brand">
                            <a href="index.html">
                                <img src="img/black.jpg" class="normal" alt="">
                                <img src="img/white.jpg" class="sticky" alt="">
                            </a>
                        </div>
                        <!-- Header Navbar Logo End -->
                    </div>

                    <div id="headerNav" class="navbar-collapse collapse float--right">
                        <!-- Header Nav Links Start -->
                        <ul v-if="userInfo != null" class="header--nav-links style--1 nav ff--primary">
                            <li>
                                <a href="index.html" class="btn-link">
                                    <span>主页</span>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="activity.html" class="btn-link active">
                                    <span>动态</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="groups.html">小组</a></li>
                                    <li></li>
                                    <li><a href="members.html">成员</a></li>
                                </ul>
                            </li>
                            <li><a href="message.html" class="btn-link"><span>消息({{userInfo.messageCount}})</span></a></li>
                            <li class="dropdown">
                                <a href="#" class="btn-link">
                                    <i class="fa mr--8 fa-user-o"></i>
                                    <span>{{userInfo.username}}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a @click.prevent="logout()">登出</a></li>
                                    <li></li>
                                    <li><a :href="'member-personal.html?id=' + userInfo.id">个人</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- Header Nav Links End -->
                        <!-- Header Nav Links Start -->
                        <ul v-else class="header--nav-links style--1 nav ff--primary">
                            <li>
                                <a href="index.html" class="btn-link">
                                    <span>主页</span>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="activity.html" class="btn-link active">
                                    <span>动态</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="groups.html">小组</a></li>
                                    <li></li>
                                    <li><a href="members.html">成员</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="btn-link">
                                    <i class="fa mr--8 fa-user-o"></i>
                                    <span>帐号</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="login.html">登录</a></li>
                                    <li></li>
                                    <li><a href="register.html">注册</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- Header Nav Links End -->
                    </div>
                </div>
            </div>
            <!-- Header Navbar End -->
        </header>
        <!-- Header Section End -->

        <!-- Page Header Start -->
        <div class="page--header pt--60 pb--60 text-center" data-bg-img="img/page-header-img/bg.jpg" data-overlay="0.85">
            <div class="container">
                <div class="title">
                    <h2 class="h1 text-white">动态</h2>
                </div>

                <ul class="breadcrumb text-gray ff--primary">
                    <li><a href="home-1.html" class="btn-link">主页</a></li>
                    <li class="active"><span class="text-primary">动态</span></li>
                </ul>
            </div>
        </div>
        <!-- Page Header End -->

        <!-- Page Wrapper Start -->
        <section class="page--wrapper pt--80 pb--20">
            <div class="container">
                <div class="row">
                    <!-- Main Content Start -->
                    <div class="main--content col-md-8 pb--60" data-trigger="stickyScroll">
                        <div class="main--content-inner drop--shadow">
                            <!-- Filter Nav Start -->
                            <div class="filter--nav pb--60 clearfix">
                                <div class="filter--link float--left">
                                    <h2 class="h4"><a href="members.html" class="btn-link">发现</a></h2>
                                </div>
                            </div>
                            <!-- Filter Nav End -->

                            <!-- Activity List Start -->
                            <div class="activity--list">
                                <!-- Activity Items Start -->
                                <ul class="activity--items nav">

                                    <!-- 推荐部分 小组+帖子 -->
                                    <li v-for="group in groupList">
                                        <!-- Activity Item Start -->
                                        <div class="activity--item">
                                            <div class="activity--avatar">
                                                <a :href="'group-home.html?id=' + group.id">
                                                    <img :src="'img/group-img/'+group.image" alt="">
                                                </a>
                                            </div>

                                            <div class="activity--info fs--14">
                                                <div class="activity--header">
                                                    <p><a :href="'group-home.html?id=' + group.id"> {{group.name}}</a></p>
                                                </div>

                                                <div class="activity--content">
                                                    <p> {{group.brief}}  </p>
                                                </div>

                                                <div class="activity--comments fs--12">
                                                    <ul class="acomment--items nav">
                                                        <li v-for="hot in group.hotPosts">
                                                            <div class="acomment--item clearfix">
                                                                <div class="acomment--avatar">
                                                                    <a :href="'member-personal.html?id=' + hot.user.id">
                                                                        <img :src="'img/members-img/'+hot.user.headUrl" alt="">
                                                                    </a>
                                                                </div>

                                                                <div class="acomment--info">
                                                                    <div class="acomment--header">
                                                                        <p><a :href="'member-personal.html?id=' + hot.user.id"> {{hot.user.username}} </a> 发布了
                                                                            <a :href="'post-details.html?id='+ hot.id">
                                                                            {{hot.title}} </a></p>
                                                                    </div>

                                                                    <div class="acomment--meta">
                                                                        <p><i class="fa mr--8 fa-clock-o"></i> {{hot.releaseTime}} </p>
                                                                    </div>

                                                                    <div class="acomment--content">
                                                                        <p><a :href="'post-details.html?id=' + hot.id">更多...</a></p>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Activity Item End -->
                                    </li>
                                    <!-- 搜索后的部分 帖子+评论 -->
                                    <li v-for="searchPost in searchPosts">
                                        <!-- Activity Item Start -->
                                        <div class="activity--item">
                                            <div class="activity--avatar">
                                                <a :href="'member-personal.html?id=' + searchPost.user.id">
                                                    <img :src="'img/members-img/' + searchPost.user.headUrl" alt="">
                                                </a>
                                            </div>

                                            <div class="activity--info fs--14">
                                                <div class="activity--header">
                                                    <p><a :href="'member-personal.html?id=' + searchPost.user.id"> {{searchPost.user.username}} </a>
                                                        在 <a :href="'group-home.html?id=' + searchPost.group.id">{{searchPost.group.name}}</a> 小组
                                                        发布了 <a :href="'post-details.html?id=' + searchPost.id"> {{searchPost.title}} </a></p>
                                                </div>

                                                <div class="activity--meta fs--12">
                                                    <p><i class="fa mr--8 fa-clock-o"></i>{{searchPost.releaseTime}}</p><br>
                                                    <p>浏览量: {{searchPost.view}}</p><br>
                                                </div>

                                                <div class="activity--content">
                                                    <p>内容: {{searchPost.content}} </p>
                                                </div>

                                                <div class="acomment--content">
                                                    <p><a :href="'post-details.html?id=' + searchPost.id">更多...</a></p>
                                                </div>

                                                <div class="activity--comments fs--12">
                                                    <ul class="acomment--items nav">
                                                        <li v-for="comment in searchPost.comments">
                                                            <div class="acomment--item clearfix">
                                                                <div class="acomment--avatar">
                                                                    <a href="member-personal.html">
                                                                        <img :src="'img/members-img/' + comment.user.headUrl" alt="">
                                                                    </a>
                                                                </div>

                                                                <div class="acomment--info">
                                                                    <div class="acomment--header">
                                                                        <p><a :href="'member-personal.html?id=' + comment.user.id"> {{comment.user.username}} </a> 热门评论 </p>
                                                                    </div>

                                                                    <div class="acomment--meta">
                                                                        <p><i class="fa mr--8 fa-clock-o"></i> {{comment.replyTime}} </p>
                                                                    </div>

                                                                    <div class="acomment--content">
                                                                        <p><span> 内容: </span> {{comment.content}} </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Activity Item End -->
                                    </li>

                                </ul>
                                <!-- Activity Items End -->
                            </div>
                            <!-- Activity List End -->
                        </div>

                        <!-- Load More Button Start -->
                        <!--<div class="load-more&#45;&#45;btn pt&#45;&#45;30 text-center">
                            <a href="#" class="btn btn-animate">
                                <span>See More Activities<i class="fa ml&#45;&#45;10 fa-caret-right"></i></span>
                            </a>
                        </div>-->
                        <!-- Load More Button End -->
                    </div>
                    <!-- Main Content End -->

                    <!-- Main Sidebar Start -->
                    <div class="main--sidebar col-md-4 pb--60" data-trigger="stickyScroll">

                        <div class="widget">
                            <h2 v-if="userInfo" class="h4 fw--700 widget--title">欢迎你{{userInfo.username}}</h2>
                            <h2 v-else class="h4 fw--700 widget--title">还未登录?</h2>

                            <!-- Buddy Finder Widget Start -->
                            <div class="buddy-finder--widget">
                                <form action="#">
                                    <div class="row" >
                                        <div v-if="userInfo" class="col-xs-12">
                                            <a :href="'member-personal.html?id=' + userInfo.id" class="btn btn-primary">个人主页</a>
                                        </div>
                                        <div v-else class="col-xs-12">
                                            <a href="login.html" class="btn btn-primary">登录</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Buddy Finder Widget End -->
                        </div>

                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">帖子搜索</h2>

                            <label style="display: flex;">
                                <input v-model="keyword" type="text" placeholder="关键字" class="form-control" autocomplete="off" required>
                                <button @click.prevent="mainSearch()" type="button" class="btn btn-primary">搜索</button>
                            </label>

                        </div>
                        <!-- Widget End -->


                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">热搜榜 Top10</h2>

                            <!-- Nav Widget Start -->
                            <div class="nav--widget">
                                <ul class="nav">
                                    <li v-for="(p,index) in hotPosts">
                                        <a :href="'post-details.html?id='+p.id">
                                            <i class="fa fa-rocket"></i>

                                            <span class="text">{{index+1}}.{{p.title}}</span>
                                            <span v-show="isNew[index]" class="count">新</span>
                                            <span v-show="isNew[index]" class="count mr--6">{{p.view}}</span>
                                            <span v-show="!isNew[index]" class="count mr--20">{{p.view}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Nav Widget End -->
                        </div>
                        <!-- Widget End -->

                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">广告位招租</h2>

                            <!-- Ad Widget Start -->
                            <div class="ad--widget">
                                <a href="#">
                                    <img src="img/widgets-img/ad.jpg" alt="" class="center-block">
                                </a>
                            </div>
                            <!-- Ad Widget End -->
                        </div>
                        <!-- Widget End -->
                    </div>
                    <!-- Main Sidebar End -->
                </div>
            </div>
        </section>
        <!-- Page Wrapper End -->

        <!-- Footer Section Start -->
        <footer class="footer--section">

            <!-- Footer Copyright Start -->
            <div class="footer--copyright pt--30 pb--30 bg-darkest">
                <div class="container">
                    <div class="text fw--500 fs--14 text-center">
                        <p>© 2023 吴文杰. 保留所有权利</p>
                    </div>
                </div>
            </div>
            <!-- Footer Copyright End -->
        </footer>
        <!-- Footer Section End -->
    </div>
    <!-- Wrapper End -->

    <!-- Back To Top Button Start -->
    <div id="backToTop">
        <a href="#" class="btn"><i class="fa fa-caret-up"></i></a>
    </div>
    <!-- Back To Top Button End -->

    <!-- ==== Plugins Bundle ==== -->
    <script src="js/plugins.min.js"></script>

    <!-- ==== Main Script ==== -->
    <script src="js/main.js"></script>

    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>
    <script>
        new Vue({
            el: "#content",
            data: {
                userInfo: {},
                groupList: {},
                keyword: "",
                searchPosts: {},
                hotPosts:{},
                isNew:[false, false, false, false, false]
            },
            created: function() {
                this.loadUser();
                this.loadRecommend();
                this.loadHotPosts();
            },
            methods: {
                loadUser() {
                    this.userInfo = JSON.parse(sessionStorage.getItem("userInfo"))
                },
                loadHotPosts(){
                    let _this = this;
                    axios.get("/free/post/hotPost").then(function (response) {
                        _this.hotPosts = response.data.data;
                        let today = new Date();
                        for (let i = 0; i < _this.hotPosts.length; i++) {
                            let time = today.getTime() - _this.hotPosts[i].releaseTime;
                            if(time < 1000 * 60 * 60 * 24){
                                _this.isNew[i] = true;
                            }
                        }
                    })
                },
                loadRecommend(){
                  let _this = this;
                  axios.get("/free/group/recommend").then(function (response) {
                      _this.groupList = response.data.data;
                  })
                },
                logout() {
                    sessionStorage.removeItem("userInfo");
                    this.userInfo = {};
                    location.reload();
                },
                mainSearch() {
                    const _this = this;
                    axios.get("/free/post/mainSearch",
                        {params: {keyword: _this.keyword}}
                    ).then(function (response) {
                        _this.groupList = {};
                        _this.searchPosts = response.data;
                    });
                }
            }
        })
    </script>

</body>
</html>