<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ==== Document Title ==== -->
    <title>SociFly - Multipurpose Social Network HTML5 Template</title>
    
    <!-- ==== Document Meta ==== -->
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- ==== Favicon ==== -->
    <link rel="icon" href="favicon.png" type="image/png">

    <!-- ==== Google Font ==== -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700%7CRoboto:300,400,400i,500,700">

    <!-- ==== Plugins Bundle ==== -->
    <link rel="stylesheet" href="css/plugins.min.css">
    
    <!-- ==== Main Stylesheet ==== -->
    <link rel="stylesheet" href="style.css">
    
    <!-- ==== Responsive Stylesheet ==== -->
    <link rel="stylesheet" href="css/responsive-style.css">
    
    <!-- ==== Color Scheme Stylesheet ==== -->
    <link rel="stylesheet" href="css/colors/color-1.css" id="changeColorScheme">
    
    <!-- ==== Custom Stylesheet ==== -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- ==== HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries ==== -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preloader--inner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Wrapper Start -->
    <div id="content" class="wrapper">
        <!-- Header Section Start -->
        <header class="header--section style--1">

            <!-- Header Navbar Start -->
            <div class="header--navbar navbar bg-black" data-trigger="sticky">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#headerNav">
                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!-- Header Navbar Logo Start -->
                        <div class="header--navbar-logo navbar-brand">
                            <a href="index.html">
                                <img src="img/logo-white.png" class="normal" alt="">
                                <img src="img/logo-black.png" class="sticky" alt="">
                            </a>
                        </div>
                        <!-- Header Navbar Logo End -->
                    </div>

                    <div id="headerNav" class="navbar-collapse collapse float--right">
                        <!-- Header Nav Links Start -->
                        <ul class="header--nav-links style--1 nav ff--primary">
                            <li>
                                <a href="index.html" class="btn-link">
                                    <span>主页</span>
                                </a>
                            </li>
                            <li><a href="activity.html"><span>动态</span></a></li>
                            <li><a href="members.html"><span>成员</span></a></li>
                            <li><a href="groups.html"><span>小组</span></a></li>

                            <li v-if="userInfo != null" class="dropdown">
                                <a href="#" class="btn-link">
                                    <i class="fa mr--8 fa-user-o"></i>
                                    <span>{{userInfo.username}}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a @click.prevent="logout()">登出</a></li>
                                    <li></li>
                                    <li><a :href="'member-personal.html?id=' + userInfo.id">个人</a></li>
                                </ul>
                            </li>
                            <li v-else class="dropdown">
                                <a href="#" class="btn-link">
                                    <i class="fa mr--8 fa-user-o"></i>
                                    <span>帐号</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="login.html">登录</a></li>
                                    <li></li>
                                    <li><a href="register.html">注册</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- Header Nav Links End -->
                    </div>
                </div>
            </div>
            <!-- Header Navbar End -->
        </header>
        <!-- Header Section End -->

        <!-- Cover Header Start -->
        <div class="cover--header pt--80 text-center" data-bg-img="img/cover-header-img/bg-01.jpg" data-overlay="0.6" data-overlay-color="white">
            <div class="container">
                <div class="cover--avatar online" data-overlay="0.3" data-overlay-color="primary">
                    <img :src="'img/members-img/' + memberInfo.head_url" alt="">
                </div>
            </div>
        </div>
        <!-- Cover Header End -->

        <!-- Page Wrapper Start -->
        <section class="page--wrapper pt--80 pb--20">
            <div style="width: 70%" class="container">
                <div class="row">
                    <!-- Main Content Start -->
                    <div style="width: 100%" class="main--content col-md-8 pb--60" data-trigger="stickyScroll">
                        <div class="main--content-inner drop--shadow">
                            <!-- Content Nav Start -->
                            <div class="content--nav pb--30">
                                <ul class="nav ff--primary fs--14 fw--500 bg-lighter">
                                    <li ><a href="member-personal.html">动态</a></li>
                                    <li class="active"><a href="member-profile.html">个人信息</a></li>
                                    <li><a href="member-friends.html">好友</a></li>
                                    <li><a href="member-groups.html">群组</a></li>
                                </ul>
                            </div>
                            <!-- Content Nav End -->

                            <!-- Profile Details Start -->
                            <div  class="profile--details fs--14">
                                <!-- Profile Item Start -->
                                <div style="width: 20%" class="profile--item">
                                    <div class="profile--heading">
                                        <h3 class="h4 fw--700">
                                            <span class="mr--4">关于 我</span>
                                            <i class="ml--10 text-primary fa fa-caret-right"></i>
                                        </h3>
                                    </div>

                                    <div class="profile--info">
                                        <table class="table">
                                            <tr>
                                                <th class="fw--700 text-darkest">用户名</th>
                                                <td>{{memberInfo.username}}</td>
                                            </tr>
                                            <tr>
                                                <th class="fw--700 text-darkest">昵称</th>
                                                <td>{{memberInfo.nickname}}</td>
                                            </tr>
                                            <tr>
                                                <th class="fw--700 text-darkest">年龄</th>
                                                <td>{{memberInfo.age}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- Profile Item End -->

                                <!-- Profile Item Start -->
                                <div class="profile--item">
                                    <div class="profile--heading">
                                        <h3 class="h4 fw--700">
                                            <span class="mr--4">个人介绍</span>
                                            <i class="ml--10 text-primary fa fa-caret-right"></i>
                                        </h3>
                                    </div>

                                    <div class="profile--info">
                                        <p>{{memberInfo.introduce}}</p>
                                </div>

                                    <div style="height: 20px">     </div>
                                <!-- Profile Item End -->

                                <!-- Profile Item Start -->
                                <div v-show="isUser" style="width: 20%" class="profile--item">
                                    <div  class="profile--heading">
                                        <h3 class="h4 fw--700">
                                            <span class="mr--4">相关信息</span>
                                            <i class="ml--10 text-primary fa fa-caret-right"></i>
                                        </h3>
                                    </div>

                                    <div class="profile--info">
                                        <table class="table">
                                            <tr>
                                                <th class="fw--700 text-darkest">电话号码</th>
                                                <td>{{memberInfo.phone}}</td>
                                            </tr>
                                            <tr>
                                                <th class="fw--700 text-darkest">邮箱</th>
                                                <td>{{memberInfo.email}}</td>
                                            </tr>
                                            <tr>
                                                <th class="fw--700 text-darkest">地区</th>
                                                <td>{{memberInfo.ip}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- Profile Item End -->
                            </div>

                            <!-- Profile Details End -->
                        </div>

                    </div>

                    <div v-if="userInfo">
                        <!-- 在这里放置需要 userInfo 存在时才渲染的内容 -->
                        <div v-show="userInfo.id === memberInfo.id" style="margin-top: 20px" class="col-md-12">
                            <a :href="'profile-change.html?id=' + memberInfo.id" class="btn btn-primary">修改个人信息</a>
                        </div>
                    </div>
                    <!-- Main Content End -->
                </div>

            </div>
            </div>
        </section>
        <!-- Page Wrapper End -->

        <!-- Footer Section Start -->
        <footer id="footer" class="footer--section">
            <!-- Footer Widgets Start -->
            <div class="footer--widgets pt--70 pb--20 bg-lightdark" data-bg-img="img/footer-img/footer-widgets-bg.png">
                <div class="container">
                    <div class="row AdjustRow">
                        <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
                            <!-- Widget Start -->
                            <div class="widget">
                                <h2 class="h4 fw--700 widget--title">关于我们</h2>

                                <!-- Text Widget Start -->
                                <div class="text--widget">
                                    <p>Ipsum is simply dummy text of the printing indusLorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                </div>
                                <!-- Text Widget End -->
                            </div>

                        </div>

                        <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
                            <!-- Widget Start -->
                            <div class="widget">
                                <h2 class="h4 fw--700 widget--title">最新帖子</h2>

                                <!-- Recent Posts Widget Start -->
                                <div class="recent-posts--widget">
                                    <ul class="nav">
                                        <li>
                                            <p class="date fw--300">
                                                <a href="#"><i class="fa mr--8 fa-file-text-o"></i>19 Jan 2017</a>
                                            </p>
                                            <p class="title fw--700">
                                                <a href="post-details.html">I look at you and see the rest of my life in front</a>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="date fw--300">
                                                <a href="#"><i class="fa mr--8 fa-file-text-o"></i>19 Jan 2017</a>
                                            </p>
                                            <p class="title fw--700">
                                                <a href="post-details.html">If I know what love is, it is because of you</a>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="date fw--300">
                                                <a href="#"><i class="fa mr--8 fa-file-text-o"></i>19 Jan 2017</a>
                                            </p>
                                            <p class="title fw--700">
                                                <a href="post-details.html">At the touch of love everyone becomes a poet</a>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Recent Posts Widget End -->
                            </div>

                        </div>
                        <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
                            <!-- Widget Start -->
                            <div class="widget">
                                <h2 class="h4 fw--700 widget--title">功能</h2>

                                <!-- Links Widget Start -->
                                <div class="links--widget">
                                    <ul class="nav">
                                        <li><a href="#">注册</a></li>
                                        <li><a href="#">登录</a></li>
                                        <li><a href="#">主页</a></li>
                                    </ul>
                                </div>
                                <!-- Links Widget End -->
                                <!-- Nav Widget End -->
                            </div>

                        </div>
                        <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
                            <!-- Widget Start -->
                            <div class="widget">
                                <h2 class="h4 fw--700 widget--title">论坛</h2>

                                <!-- Links Widget Start -->
                                <div class="links--widget">
                                    <ul class="nav">
                                        <li><a href="sub-forums.html">User Interface Design</a></li>
                                        <li><a href="sub-forums.html">Front-End Engineering</a></li>
                                        <li><a href="sub-forums.html">Web Development</a></li>
                                        <li><a href="sub-forums.html">Social Media Marketing</a></li>
                                        <li><a href="sub-forums.html">Content Marketing</a></li>
                                    </ul>
                                </div>
                                <!-- Links Widget End -->
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!-- Footer Widgets End -->

            <!-- Footer Extra Start -->
            <!--<div class="footer&#45;&#45;extra bg-darker pt&#45;&#45;30 pb&#45;&#45;40 text-center">
                <div class="container">
                    &lt;!&ndash; Widget Start &ndash;&gt;
                    <div class="widget">
                        <h2 class="h4 fw&#45;&#45;700 widget&#45;&#45;title">Recent Active Members</h2>

                        &lt;!&ndash; Recent Active Members Widget Start &ndash;&gt;
                        <div class="recent-active-members&#45;&#45;widget style&#45;&#45;2">
                            <div class="owl-carousel" data-owl-items="12" data-owl-nav="true" data-owl-speed="1200" data-owl-responsive='{"0": {"items": "3"}, "481": {"items": "6"}, "768": {"items": "8"}, "992": {"items": "12"}}'>
                                <div class="img">
                                    <a href="member-personal.html"><img src="img/widgets-img/recent-active-members/01.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-personal.html"><img src="img/widgets-img/recent-active-members/02.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-personal.html"><img src="img/widgets-img/recent-active-members/03.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-personal.html"><img src="img/widgets-img/recent-active-members/04.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-personal.html"><img src="img/widgets-img/recent-active-members/05.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-personal.html"><img src="img/widgets-img/recent-active-members/06.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-personal.html"><img src="img/widgets-img/recent-active-members/07.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-personal.html"><img src="img/widgets-img/recent-active-members/08.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-personal.html"><img src="img/widgets-img/recent-active-members/09.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-personal.html"><img src="img/widgets-img/recent-active-members/10.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-personal.html"><img src="img/widgets-img/recent-active-members/11.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-personal.html"><img src="img/widgets-img/recent-active-members/12.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-personal.html"><img src="img/widgets-img/recent-active-members/13.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        &lt;!&ndash; Recent Active Members Widget End &ndash;&gt;
                    </div>
                    &lt;!&ndash; Widget End &ndash;&gt;
                </div>
            </div>-->
            <!-- Footer Extra End -->

            <!-- Footer Copyright Start -->
            <div class="footer--copyright pt--30 pb--30 bg-darkest">
                <div class="container">
                    <div class="text fw--500 fs--14 text-center">
                        <p>Copyright &copy; Soci<span>fly</span>. All Rights <a href="http://www.bootstrapmb.com/" title="bootstrapmb">Reserved</a>.</p>
                    </div>
                </div>
            </div>
            <!-- Footer Copyright End -->
        </footer>
        <!-- Footer Section End -->
    </div>
    <!-- Wrapper End -->

    <!-- Back To Top Button Start -->
    <div id="backToTop">
        <a href="#" class="btn"><i class="fa fa-caret-up"></i></a>
    </div>
    <!-- Back To Top Button End -->

    <!-- ==== Plugins Bundle ==== -->
    <script src="js/plugins.min.js"></script>

    <!-- ==== Main Script ==== -->
    <script src="js/main.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>
    <script src="js/getParameter.js"></script>

    <script>
        new Vue({
            el: "#content",
            data: {
                userInfo: {
                    id: ""
                },
                memberInfo: {},
                isUser: false
            },
            created: function() {
                this.loadUser();
                this.memberInfo = JSON.parse(sessionStorage.getItem("memberInfo"))
                if(this.memberInfo.id===this.userInfo.id){
                    this.isUser = true;
                }
            },
            methods: {
                loadUser(){
                    this.userInfo = JSON.parse(sessionStorage.getItem("userInfo"))
                    console.log(this.userInfo)
                },
                logout() {
                    sessionStorage.removeItem("userInfo");
                    this.userInfo = {};
                    location.reload();
                }
            },
        })
    </script>
</body>
</html>