<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ==== Document Title ==== -->
    <title>Free</title>
    
    <!-- ==== Document Meta ==== -->
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- ==== Favicon ==== -->
    <link rel="icon" href="favicon.png" type="image/png">

    <!-- ==== Google Font ==== -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700%7CRoboto:300,400,400i,500,700">

    <!-- ==== Plugins Bundle ==== -->
    <link rel="stylesheet" href="css/plugins.min.css">
    
    <!-- ==== Main Stylesheet ==== -->
    <link rel="stylesheet" href="style.css">
    
    <!-- ==== Responsive Stylesheet ==== -->
    <link rel="stylesheet" href="css/responsive-style.css">
    
    <!-- ==== Color Scheme Stylesheet ==== -->
    <link rel="stylesheet" href="css/colors/color-1.css" id="changeColorScheme">
    
    <!-- ==== Custom Stylesheet ==== -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- ==== HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries ==== -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preloader--inner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Wrapper Start -->
    <div id="app" class="wrapper">
        <!-- Header Section Start -->
        <header class="header--section style--1">
            <!-- Header Topbar Start -->
            <!-- Header Topbar End -->

            <!-- Header Navbar Start -->
            <div class="header--navbar navbar bg-black" data-trigger="sticky">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#headerNav">
                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!-- Header Navbar Logo Start -->
                        <div class="header--navbar-logo navbar-brand">
                            <a href="index.html">
                                <img src="img/black.jpg" class="normal" alt="">
                                <img src="img/white.jpg" class="sticky" alt="">
                            </a>
                        </div>
                        <!-- Header Navbar Logo End -->
                    </div>

                    <div id="headerNav" class="navbar-collapse collapse float--right">
                        <!-- Header Nav Links Start -->
                        <ul v-if="userInfo != null" class="header--nav-links style--1 nav ff--primary">
                            <li>
                                <a href="index.html" class="btn-link">
                                    <span>主页</span>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="activity.html" class="btn-link">
                                    <span>动态</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="groups.html">小组</a></li>
                                    <li></li>
                                    <li><a href="members.html" class="btn-link">成员</a></li>
                                </ul>
                            </li>
                            <li><a href="message.html" class="btn-link"><span>消息({{userInfo.messageCount}})</span></a></li>
                            <li class="dropdown">
                                <a href="#" class="btn-link active">
                                    <i class="fa mr--8 fa-user-o"></i>
                                    <span>{{userInfo.username}}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a @click.prevent="logout()">登出</a></li>
                                    <li></li>
                                    <li><a :href="'member-personal.html?id=' + userInfo.id">个人</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- Header Nav Links End -->
                        <!-- Header Nav Links Start -->
                        <ul v-else class="header--nav-links style--1 nav ff--primary">
                            <li>
                                <a href="index.html" class="btn-link">
                                    <span>主页</span>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="activity.html" class="btn-link">
                                    <span>动态</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="groups.html">小组</a></li>
                                    <li></li>
                                    <li><a href="members.html">成员</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="btn-link">
                                    <i class="fa mr--8 fa-user-o"></i>
                                    <span>帐号</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="login.html">登录</a></li>
                                    <li></li>
                                    <li><a href="register.html">注册</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- Header Nav Links End -->
                    </div>
                </div>
            </div>
            <!-- Header Navbar End -->
        </header>
        <!-- Header Section End -->

        <!-- Cover Header Start -->
        <div class="cover--header pt--80 text-center" data-bg-img="img/cover-header-img/bg-01.jpg" data-overlay="0.6" data-overlay-color="white">
            <div class="container">
                <div class="cover--avatar online" data-overlay="0.3" data-overlay-color="primary">
                    <img :src="'img/members-img/' + memberInfo.headUrl" alt="">
                </div>

                <div class="cover--user-name">
                    <h2 class="h3 fw--600">{{memberInfo.username}}</h2>
                </div>

            </div>
        </div>
        <!-- Cover Header End -->

        <!-- Page Wrapper Start -->
        <section class="page--wrapper pt--80 pb--20" >
            <div class="container">
                <div class="row">
                    <!-- Main Content Start -->
                    <div style="width: 100%" class="main--content col-md-8 pb--60" data-trigger="stickyScroll">
                        <div class="main--content-inner drop--shadow">
                            <!-- Content Nav Start -->
                            <div class="content--nav pb--30">
                                <ul class="nav ff--primary fs--14 fw--500 bg-lighter">
                                    <li class="active"><a href="member-personal.html">动态</a></li>
                                    <li ><a href="member-profile.html">个人信息</a></li>
                                    <li><a href="member-friends.html">好友</a></li>
                                    <li><a href="member-groups.html">小组</a></li>
                                </ul>
                            </div>
                            <!-- Content Nav End -->

                            <!-- Filter Nav Start -->
                            <div class="filter--nav pb--60 clearfix">
                                <div class="filter--links float--left">
                                    <ul class="nav ff--primary">
                                        <li :class="{active: flag === 0}"><a @click.prevent="flag = 0, loadPosts()" href="#">个人主页</a></li>
                                        <li :class="{active: flag === 1}"><a v-show="isUser" @click.prevent="flag = 1, loadPosts()" href="#">收藏夹</a></li>
<!--                                        <li :class="{active: flag === 2}"><a v-show="isUser" @click.prevent="flag = 2, loadPosts()" href="#">好友圈</a></li>-->
                                    </ul>
                                </div>
                            </div>
                            <!-- Filter Nav End -->

                            <!-- Activity List Start -->
                            <div v-show="flag === 0" class="activity--list">
                                <!-- Activity Items Start -->
                                <ul class="activity--items nav">
                                    <li v-for="post in postList">
                                        <!-- Activity Item Start -->
                                        <div class="activity--item">
                                            <div class="activity--avatar">
                                                <a :href="'member-personal.html?id=' + memberInfo.id">
                                                    <img :src="'img/members-img/' + memberInfo.headUrl" alt="">
                                                </a>
                                            </div>

                                            <div class="activity--info fs--14">
                                                <div class="activity--header">
                                                    <p><a :href="'member-personal.html?id=' + memberInfo.id">{{memberInfo.username}}</a>
                                                        在&nbsp<a :href="'group-home.html?id=' + post.group.id">{{post.group.name}}</a>&nbsp发表了帖子</p>
                                                </div>

                                                <div class="activity--meta fs--12">
                                                    <p><i class="fa mr--8 fa-clock-o"></i>{{post.releaseTime}}</p>
                                                </div>

                                                <div class="activity--content">
                                                    <p>{{post.content}}</p>
                                                </div>

                                                <div class="activity--action fw--700">
                                                    <a :href="'post-details.html?id=' + post.id">更多...</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Activity Item End -->
                                    </li>
                                </ul>
                                <!-- Activity Items End -->
                            </div>
                            <div v-show="flag === 1" class="activity--list">
                                <!-- Activity Items Start -->
                                <ul v-if="postList.length === 0" class="activity--items nav">
                                    <li>
                                        <div class="alert">
                                            <div  class="alert--inner ff--primary text-white bg-primary">
                                                <p>当前没有收藏帖子</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                                <ul v-else class="activity--items nav">
                                    <li v-for="post in postList">
                                        <!-- Activity Item Start -->
                                        <div class="activity--item">
                                            <div class="activity--avatar">
                                                <a :href="'member-personal.html?id=' + post.user.id">
                                                    <img :src="'img/members-img/' + post.user.headUrl" alt="">
                                                </a>
                                            </div>

                                            <div class="activity--info fs--14">
                                                <div class="activity--header">
                                                    <p><a :href="'member-personal.html?id=' + post.user.id">{{post.user.username}}</a>
                                                        在&nbsp<a :href="'group-home.html?id=' + post.group.id">{{post.group.name}}</a>&nbsp发表了帖子</p>
                                                </div>

                                                <div class="activity--meta fs--12">
                                                    <p><i class="fa mr--8 fa-clock-o"></i>{{post.releaseTime}}</p>
                                                </div>

                                                <div class="activity--content">
                                                    <p>{{post.content}}</p>
                                                </div>

                                                <div class="activity--action fw--700">
                                                    <a :href="'post-details.html?id=' + post.id">更多...</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Activity Item End -->
                                    </li>
                                </ul>
                                <!-- Activity Items End -->
                            </div>
                            <!--<div v-show="flag==2" class="activity&#45;&#45;list">
                                &lt;!&ndash; Activity Items Start &ndash;&gt;
                                <ul class="activity&#45;&#45;items nav">
                                    <li v-for="post in postList">
                                        &lt;!&ndash; Activity Item Start &ndash;&gt;
                                        <div class="activity&#45;&#45;item">
                                            <div class="activity&#45;&#45;avatar">
                                                <a :href="'member-personal.html?id=' + post.user.id">
                                                    <img :src="'img/members-img/' + post.user.head_url" alt="">
                                                </a>
                                            </div>

                                            <div class="activity&#45;&#45;info fs&#45;&#45;14">
                                                <div class="activity&#45;&#45;header">
                                                    <p><a :href="'member-personal.html?id=' + post.user.id">{{post.user.username}}</a>
                                                        在&nbsp<a :href="'group-home.html?id=' + post.groupId">{{post.group.name}}</a>&nbsp发表了帖子</p>
                                                </div>

                                                <div class="activity&#45;&#45;meta fs&#45;&#45;12">
                                                    <p><i class="fa mr&#45;&#45;8 fa-clock-o"></i>{{post.releaseTimeStr}}</p>
                                                </div>

                                                <div class="activity&#45;&#45;content">
                                                    <p>{{post.content}}</p>
                                                </div>

                                                <div class="activity&#45;&#45;action fw&#45;&#45;700">
                                                    <a :href="'post-details.html?id=' + post.id">更多...</a>
                                                </div>
                                            </div>
                                        </div>
                                        &lt;!&ndash; Activity Item End &ndash;&gt;
                                    </li>
                                </ul>
                                &lt;!&ndash; Activity Items End &ndash;&gt;
                            </div>-->
                            <!-- Activity List End -->
                        </div>

                        <div class="page--count pb--30">
                            <label class="ff--primary fs--14 fw--500 text-darker">
                                <!--<span>Viewing</span>-->
                                <a @click.prevent="loadPosts(pageInfo.navigateFirstPage)">首页</a>
                                <a @click.prevent="loadPosts(pageInfo.pageNum-1)" class="btn-link"><i class="fa fa-caret-left"></i></a>
                                <span v-for="index in pageInfo.pages"><a @click.prevent="loadPosts(index)" class="form-control form-sm">{{index}}</a></span>
                                <a @click.prevent="loadPosts(pageInfo.pageNum+1)" class="btn-link"><i class="fa fa-caret-right"></i></a>
                                <a @click.prevent="loadPosts(pageInfo.navigateLastPage)" aria-label="Next">尾页</a>
                                <span>共{{pageInfo.pages}}页</span>
                            </label>
                        </div>

                    </div>
                    <!-- Main Content End -->
                </div>
            </div>
        </section>
        <!-- Page Wrapper End -->

        <!-- Footer Section Start -->
        <footer id="footer" class="footer--section">
            <!-- Footer Copyright Start -->
            <div class="footer--copyright pt--30 pb--30 bg-darkest">
                <div class="container">
                    <div class="text fw--500 fs--14 text-center">
                        <p>© 2023 吴文杰. 保留所有权利</p>
                    </div>
                </div>
            </div>
            <!-- Footer Copyright End -->
        </footer>
        <!-- Footer Section End -->

    </div>
    <!-- Wrapper End -->

    <!-- Back To Top Button Start -->
    <div id="backToTop">
        <a href="#" class="btn"><i class="fa fa-caret-up"></i></a>
    </div>
    <!-- Back To Top Button End -->

    <!-- ==== Plugins Bundle ==== -->
    <script src="js/plugins.min.js"></script>

    <!-- ==== Main Script ==== -->
    <script src="js/main.js"></script>
    <script src="js/axios.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/getParameter.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                flag: 0,
                userInfo: {},
                memberId: "",
                memberInfo: {},
                postList: [],
                pageInfo: [],
                isUser: false
            },
            methods: {
                // 加载登录的user
                loadUser() {
                    this.userInfo = JSON.parse(sessionStorage.getItem("userInfo"))
                },
                logout() {
                    sessionStorage.removeItem("userInfo");
                    this.userInfo = {};
                    location.reload();
                },
                // 加载当前页面的member
                loadMember() {
                    let _this = this;
                    axios.get("/free/userInfo/userDetail/" + _this.memberId).then(function (response) {
                        _this.memberInfo = response.data;
                        sessionStorage.setItem("memberInfo", JSON.stringify(_this.memberInfo));
                    })
                },
                loadPosts(pageNum) {
                    let _this = this;
                    this.memberInfo = JSON.parse(sessionStorage.getItem("memberInfo"))
                    axios.get("/free/post/userPosts", {
                        params: {
                            pageNum: pageNum, userId: this.memberInfo.id, flag: this.flag
                        }
                    }).then(function (response) {
                        _this.postList = response.data.list;
                        _this.pageInfo = response.data;
                    })
                }
            },
            created: function () {
                this.loadUser();
                this.memberId = getParameter("id");
                if (this.memberId == null) {
                    this.memberInfo = JSON.parse(sessionStorage.getItem("memberInfo"))
                } else {
                    this.loadMember();
                }
                let _this = this;
                // 异步请求加延时
                setTimeout(function () {
                    _this.loadPosts();
                    if (_this.memberInfo.id === _this.userInfo.id) {
                        _this.isUser = true;
                    }
                }, 500);
            }
        })
    </script>
</body>
</html>