<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ==== Document Title ==== -->
    <title>Free</title>
    
    <!-- ==== Document Meta ==== -->
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- ==== Favicon ==== -->
    <link rel="icon" href="favicon.png" type="image/png">

    <!-- ==== Google Font ==== -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700%7CRoboto:300,400,400i,500,700">

    <!-- ==== Plugins Bundle ==== -->
    <link rel="stylesheet" href="css/plugins.min.css">
    
    <!-- ==== Main Stylesheet ==== -->
    <link rel="stylesheet" href="style.css">
    
    <!-- ==== Responsive Stylesheet ==== -->
    <link rel="stylesheet" href="css/responsive-style.css">
    
    <!-- ==== Color Scheme Stylesheet ==== -->
    <link rel="stylesheet" href="css/colors/color-1.css" id="changeColorScheme">
    
    <!-- ==== Custom Stylesheet ==== -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- ==== HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries ==== -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preloader--inner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Wrapper Start -->
    <div id="content" class="wrapper">
        <!-- Header Section Start -->
        <header id="header" class="header--section style--1">

            <!-- Header Navbar Start -->
            <div class="header--navbar navbar bg-black" data-trigger="sticky">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#headerNav">
                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!-- Header Navbar Logo Start -->
                        <div class="header--navbar-logo navbar-brand">
                            <a href="index.html">
                                <img src="img/black.jpg" class="normal" alt="">
                                <img src="img/white.jpg" class="sticky" alt="">
                            </a>
                        </div>
                        <!-- Header Navbar Logo End -->
                    </div>

                    <div id="headerNav" class="navbar-collapse collapse float--right">
                        <!-- Header Nav Links Start -->
                        <ul v-if="userInfo != null" class="header--nav-links style--1 nav ff--primary">
                            <li>
                                <a href="index.html" class="btn-link">
                                    <span>主页</span>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="activity.html" class="btn-link">
                                    <span>动态</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="groups.html">小组</a></li>
                                    <li></li>
                                    <li><a href="members.html">成员</a></li>
                                </ul>
                            </li>
                            <li><a href="message.html" class="btn-link active"><span>消息({{userInfo.messageCount}})</span></a></li>
                            <li class="dropdown">
                                <a href="#" class="btn-link">
                                    <i class="fa mr--8 fa-user-o"></i>
                                    <span>{{userInfo.username}}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a @click.prevent="logout()">登出</a></li>
                                    <li></li>
                                    <li><a :href="'member-personal.html?id=' + userInfo.id">个人</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- Header Nav Links End -->
                        <!-- Header Nav Links Start -->
                        <ul v-else class="header--nav-links style--1 nav ff--primary">
                            <li>
                                <a href="index.html" class="btn-link active">
                                    <span>主页</span>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="activity.html" class="btn-link">
                                    <span>动态</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="groups.html">小组</a></li>
                                    <li></li>
                                    <li><a href="members.html">成员</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="btn-link">
                                    <i class="fa mr--8 fa-user-o"></i>
                                    <span>帐号</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="login.html">登录</a></li>
                                    <li></li>
                                    <li><a href="register.html">注册</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- Header Nav Links End -->
                    </div>
                </div>
            </div>
            <!-- Header Navbar End -->
        </header>
        <!-- Header Section End -->

        <!-- Page Header Start -->
        <div class="page--header pt--60 pb--60 text-center" data-bg-img="img/page-header-img/bg.jpg" data-overlay="0.85">
            <div class="container">
                <div class="title">
                    <h2 class="h1 text-white">消息</h2>
                </div>
            </div>
        </div>
        <!-- Page Header End -->

        <!-- Page Wrapper Start -->
        <section class="page--wrapper pt--80 pb--20">
            <div class="container">
                <div class="row">
                    <!-- Main Sidebar Start -->
                    <div class="main--sidebar col-md-4 pb--60" data-trigger="stickyScroll">
                        <!-- Widget Start -->
                        <div class="main--content-inner drop--shadow">
                            <!-- Topics List Start -->
                            <div class="topics--list">
                                <table class="table">
                                    <thead class="ff--primary fs--14 text-darkest">
                                        <tr>
                                            <th>消息列表</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="conversation in conversationList">
                                            <td>
                                                <a @click.prevent="loadConversation(1, conversation.partner.id)" href="#" class="topic--author">
                                                    <span class="avatar"><img :src="'img/members-img/' + conversation.partner.headUrl" alt=""></span>
<!--                                                    <span class="name ml&#45;&#45;10 fw&#45;&#45;900">{{conversation.partner.nickname}}</span>-->
                                                    <span class="name ml--10 fw--900">{{conversation.partner ? conversation.partner.nickname : ''}}</span>
                                                </a>
                                                <p class="ml--6 mt--6">{{conversation.content}}</p>
                                            </td>
                                            <td>
                                                <p class="ff--primary fw--500 fs--14 text-darkest ">{{conversation.time}}</p>
                                                <p v-show="conversation.unreadCount !== 0" class="ff--primary fw--500 fs--14 mr--8 text-darkest " style="color: red">{{conversation.unreadCount}}</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Topics List End -->

                            <!-- Page Count Start -->
                            <div class="page--count pt--30">
                                <label class="ff--primary fs--14 fw--500 text-darker">
                                    <span>页码</span>

                                    <a @click.prevent="loadConversationList(pageInfoLeft.prePage)" class="btn-link"><i class="fa fa-caret-left"></i></a>
                                    <a v-for="index in pageInfoLeft.navigatepageNums" @click.prevent="loadConversationList(index)" class="btn-link" :class="{active: pageInfoLeft.pageNum === index}">{{index}}</a>
                                    <a @click.prevent="loadConversationList(pageInfoLeft.nextPage)" href="#" class="btn-link"><i class="fa fa-caret-right"></i></a>

                                    <span>共 {{pageInfoLeft.pages}} 页</span>
                                </label>
                            </div>
                            <!-- Page Count End -->
                        </div>
                        <!-- Widget End -->
                    </div>
                    <!-- Main Sidebar End -->
                    <!-- Main Content Start -->
                    <div v-show="partnerId !== null" class="main--content col-md-8 pb--60" data-trigger="stickyScroll">
                        <div class="main--content-inner drop--shadow">
                            <!-- Forum Header Start -->
                            <div class="forum--header pb--30">
                                <div class="forum--subtitle ff--primary fs--22 fw--700 text-black">
                                    <p>{{partnerNickname}} ( {{partnerUsername}} )
                                </div>
                            </div>
                            <!-- Forum Header End -->

                            <!-- 发送框 -->
                            <div class="input-group pb--40">
                                <input v-model="messageContent" type="text" placeholder="输入" class="form-control" autocomplete="off" required>

                                <div class="input-group-btn">
                                    <button @click.prevent="sendMessage()" class="btn-link"><i class="fa fa-send-o"></i></button>
                                </div>
                            </div>
                            <!-- 发送框 -->

                            <!-- Topic Replies Start -->
                            <div class="topic--replies">
                                <ul class="nav">
                                    <li v-for="message in conversation">
                                        <!-- Topic Reply Start Left -->
                                        <div v-if="message.sendId === userInfo.id" class="topic--reply">
                                            <div class="body clearfix">
                                                <div class="author ml--20 float--right text-center">
                                                    <div class="avatar" data-overlay="0.1" data-overlay-color="primary">
                                                        <a :href="'member-personal.html?id=' + userInfo.id">
                                                            <img :src="'img/members-img/' + userInfo.headUrl" alt="">
                                                        </a>
                                                    </div>
                                                    <!--<div class="name text-darkest">
                                                        <p><a href="member-activity-personal.html">user1</a></p>
                                                    </div>-->
                                                    <div class="role text-uppercase">
                                                        <p class="date float--right">{{message.time}}</p>
                                                    </div>
                                                </div>
                                                <div class="content pt--20 fs--14 ov--h float--right">
                                                    <p>{{message.content}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Topic Reply End Left -->
                                        <!-- Topic Reply Start Right -->
                                        <div v-else class="topic--reply">
                                            <div class="body clearfix">
                                                <div class="author mr--20 float--left text-center">
                                                    <div class="avatar" data-overlay="0.1" data-overlay-color="primary">
                                                        <a :href="'member-personal.html?id=' + message.partner.id">
                                                            <img :src="'img/members-img/' + message.partner.headUrl" alt="">
                                                        </a>
                                                    </div>
                                                    <!--<div class="name text-darkest">
                                                        <p><a href="member-activity-personal.html">user2</a></p>
                                                    </div>-->
                                                    <div class="role text-uppercase">
                                                        <p class="date float--left">{{message.time}}</p>
                                                    </div>
                                                </div>
                                                <div class="content pt--20 fs--14 ov--h">
                                                    <p>{{message.content}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Topic Reply End Right -->
                                    </li>
                                </ul>
                            </div>
                            <!-- Topic Replies End -->

                            <div class="page--count pt--50 pb--20">
                                <label class="ff--primary fs--14 fw--500 text-darker">
                                    <span>页码</span>

                                    <a @click.prevent="loadConversation(pageInfoRight.prePage, partnerId)" class="btn-link"><i class="fa fa-caret-left"></i></a>
                                    <a v-for="index in pageInfoRight.navigatepageNums" @click.prevent="loadConversation(index, partnerId)" class="btn-link" :class="{active: pageInfoRight.pageNum === index}">{{index}}</a>
                                    <a @click.prevent="loadConversation(pageInfoRight.nextPage, partnerId)" class="btn-link"><i class="fa fa-caret-right"></i></a>

                                    <span>共 {{pageInfoRight.pages}} 页</span>
                                </label>
                            </div>

                            <!-- Forum Header Start -->
                            <!--<div class="forum&#45;&#45;header pt&#45;&#45;50">
                                <div class="forum&#45;&#45;subtitle ff&#45;&#45;primary fs&#45;&#45;14 text-darker">
                                    <p>不知道写啥文字</p>
                                </div>
                            </div>-->
                            <!-- Forum Header End -->
                        </div>
                    </div>
                    <!-- Main Content End -->
                </div>
            </div>
        </section>
        <!-- Page Wrapper End -->

        <!-- Footer Section Start -->
        <footer id="footer" class="footer--section">
            <!-- Footer Widgets Start -->
            <!-- Footer Widgets End -->

            <!-- Footer Extra Start -->
            <!-- Footer Extra End -->

            <!-- Footer Copyright Start -->
            <div class="footer--copyright pt--30 pb--30 bg-darkest">
                <div class="container">
                    <div class="text fw--500 fs--14 text-center">
                        <p>© 2023 吴文杰. 保留所有权利</p>
                    </div>
                </div>
            </div>
            <!-- Footer Copyright End -->
        </footer>
        <!-- Footer Section End -->
    </div>
    <!-- Wrapper End -->

    <!-- Back To Top Button Start -->
    <div id="backToTop">
        <a href="#" class="btn"><i class="fa fa-caret-up"></i></a>
    </div>
    <!-- Back To Top Button End -->

    <!-- ==== Plugins Bundle ==== -->
    <script src="js/plugins.min.js"></script>

    <!-- ==== Main Script ==== -->
    <script src="js/main.js"></script>

    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>
    <script src="js/getParameter.js"></script>
    <script>
        new Vue({
            el: "#content",
            data: {
                userInfo: {},
                pageInfoLeft: {},
                conversationList: {},
                partnerId: "",
                pageInfoRight: {},
                conversation: {},
                partnerNickname: "",
                partnerUsername: "",
                messageContent: ""
            },
            created: function() {
                this.loadUser();
                this.loadConversationList();
                this.partnerId = getParameter("id");
                if (this.partnerId !== null) {
                    this.loadConversation(1, this.partnerId);
                }
            },
            methods: {
                loadUser() {
                    this.userInfo = JSON.parse(sessionStorage.getItem("userInfo"))
                },
                logout() {
                    sessionStorage.removeItem("userInfo");
                    this.userInfo = {};
                    location.reload();
                },
                loadConversationList(pageNum) {
                    const _this = this;
                    axios.get("/free/message/conversationList", {
                        params: {
                            pageNum: pageNum,
                            userId: _this.userInfo.id
                        }
                    }).then(function (response) {
                        _this.pageInfoLeft = response.data;
                        _this.conversationList = response.data.list;
                    });
                },
                loadConversation(pageNum, partnerId) {
                    const _this = this;
                    _this.partnerId = partnerId;
                    axios.get("/free/message/conversation", {
                        params: {
                            pageNum: pageNum,
                            userId: _this.userInfo.id,
                            partnerId: _this.partnerId
                        }
                    }).then(function (response) {
                        _this.pageInfoRight = response.data;
                        _this.conversation = response.data.list;
                        _this.partnerNickname = response.data.list[0].partner.nickname;
                        _this.partnerUsername = response.data.list[0].partner.username;
                        _this.loadConversationList();
                    });
                },
                sendMessage() {
                    const _this = this;
                    axios.post("/free/message/sendMessage", {
                        sendId: _this.userInfo.id,
                        receiveId: _this.partnerId,
                        content: _this.messageContent
                    }).then(function (response) {
                        if (response.data.flag) {
                            _this.loadConversation(1, _this.partnerId)
                            _this.messageContent = "";
                        }
                    });
                }
            }
        })
    </script>

</body>
</html>