<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.free.forum.mapper.UserInfoMapper">
    <select id="findMemberCountByGroupId" parameterType="String" resultType="Integer">
        SELECT COUNT(*)
        FROM user_group
        WHERE groupId = #{groupId}
    </select>
    <select id="findFocusStatus" parameterType="Map" resultType="Integer">
        SELECT COUNT(*)
        FROM user_friend
        WHERE userId = #{userId}
        AND friendId = #{friendId}
    </select>
    <insert id="insertByUserIdAndMemberId" parameterType="Map">
        INSERT INTO user_friend
        VALUES
        (#{userId}, #{memberId})
    </insert>
    <delete id="deleteByUserIdAndMemberId" parameterType="Map">
        DELETE
        FROM user_friend
        WHERE userId = #{userId} AND friendId = #{memberId}
    </delete>
    <select id="countUserGroupMembership" parameterType="Map" resultType="Integer">
        SELECT COUNT(*)
        FROM user_group
        WHERE userId = #{userId} AND groupId = #{groupId}
    </select>
    <insert id="insertByUserIdAndGroupId" parameterType="Map">
        INSERT INTO user_group
        VALUES
        (#{userId}, #{groupId})
    </insert>
    <delete id="deleteByUserIdAndGroupId" parameterType="Map">
        DELETE
        FROM user_group
        WHERE userId = #{userId} AND groupId = #{groupId}
    </delete>
    <select id="findByGroupId" parameterType="String" resultType="UserInfo">
        SELECT *
        FROM users
        WHERE id IN (
            SELECT userId
            FROM user_group
            WHERE groupId = #{groupId}
        )
    </select>
    <select id="findByGroupIdAndUserId" parameterType="Map" resultType="UserInfo">
        SELECT *
        FROM users
        WHERE id IN (
            SELECT userId
            FROM user_group
            WHERE groupId = #{groupId}
        ) AND id != #{userId}
    </select>
    <select id="findUserFavoritePostsById" parameterType="String" resultType="Post">
        SELECT *
        FROM post
        WHERE id IN (
            SELECT postId
            FROM user_post
            WHERE userId = #{userId}
        )
    </select>
    <select id="findMemberFocusByUserId" parameterType="String" resultType="UserInfo">
        SELECT *
        FROM users
        WHERE id IN (
            SELECT friendId
            FROM user_friend
            WHERE userId = #{userId}
        )
    </select>
    <select id="findMemberFansByUserId" parameterType="String" resultType="UserInfo">
        SELECT *
        FROM users
        WHERE id IN (
            SELECT userId
            FROM user_friend
            WHERE friendId = #{friendId}
        )
    </select>
    <select id="findMemberGroupsByUserId" parameterType="String" resultType="Group">
        SELECT *
        FROM `group`
        WHERE id IN (
            SELECT groupId
            FROM user_group
            WHERE userId = #{userId}
        )
    </select>
    <select id="findPostFavorite" parameterType="String" resultType="Group">
        SELECT COUNT(*)
        FROM user_post
        WHERE postId = #{postId} AND userId = #{userId}
    </select>
    <insert id="insertByUserIdAndPostId" parameterType="Map">
        INSERT INTO user_post
        VALUES
        (#{userId}, #{postId})
    </insert>
    <delete id="deleteByUserIdAndPostId" parameterType="Map">
        DELETE
        FROM user_post
        WHERE userId = #{userId} AND postId = #{postId}
    </delete>
</mapper>