<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.free.forum.mapper.UserInfoMapper">
<!--    <resultMap id="groupMap" type="Group">-->
<!--        <id property="id" column="id"/>-->
<!--        <result property="name" column="name"/>-->
<!--        <result property="brief" column="brief"/>-->
<!--        <result property="creatTime" column="creatTime"/>-->
<!--        <result property="admin" column="admin"/>-->
<!--        <association property="memberCount" column="id" javaType="Integer"-->
<!--                     select="com.free.forum.mapper.GroupMapper.findMemberCountByGroupId"/>-->
<!--    </resultMap>-->
    <select id="findFocusStatus" parameterType="Map" resultType="Integer">
        SELECT
            count(*)
        FROM
            user_friend
        WHERE
            userId = #{userId} AND friendId = #{friendId}
    </select>
</mapper>